@{
    ViewData["Title"] = "Privacy Policy";
}
<br/>

<h1>Privacy Policy for Demo Asset Management System</h1>
<p><strong>Effective Date: April 13, 2024</strong></p>

<p>Welcome to PostCore - the Demo Asset Management System. This application is designed as a demonstration of asset management capabilities tailored for engineering projects. It is intended for demonstration purposes only.</p>

<h2>Application Purpose</h2>
<p>This application is a demo designed to showcase asset management functionalities within the context of engineering projects. It features the management of assets and their related content and distribution records, reflecting a one parent table to two children tables (one-to-many) relationship in a PostgreSQL database.</p>

<h2>User Guidance</h2>
<p><strong>Important</strong>: As this is a demo application, we strongly advise <strong>not</strong> to enter any personal information into the system. Please use fictional data or generic information that does not relate to you or any identifiable individual.</p>

<h2>Information We Collect</h2>
<p>The application is designed to collect data pertinent to asset management, including but not limited to:</p>
<ul>
    <li><strong>Asset Information</strong>: Asset IDs, types, manufacturers, purchase orders, project dates, etc.</li>
    <li><strong>Content Records</strong>: Pertaining to assets, such as content numbers, descriptions, versions, and assignment dates.</li>
    <li><strong>Distribution Records</strong>: Related to the distribution of assets, including information on owners, locations, quantities, and distribution dates.</li>
</ul>
<p>This data is collected for the purpose of demonstrating the application's functionality and is not used for any commercial or analytical purposes.</p>

<h2>Data Security and Privacy</h2>
<p>While we implement security measures to protect your information, please remember that no security measures are completely secure. Given the demo nature of this application, entering personal or sensitive information poses a risk and is strongly discouraged.</p>

<h2>Changes to This Privacy Policy</h2>
<p>We may update this Privacy Policy to reflect changes to our information practices. Any changes will be posted on this page, along with an updated effective date. We encourage users to frequently check this page for any changes.</p>

<h2>Contact Us</h2>
<p>
    For any questions regarding this Privacy Policy or the demo application, please contact us at <a href="mailto:taylor.js@outlook.com">taylor.js@outlook.com</a>. You can also find the source code and contribute to the project on <a href="https://github.com/taylor-js/PostCore" target="_blank">GitHub</a>.
</p>
