@model PostCore.Models.Amdistrib

<form id="deleteDistribForm" asp-controller="AMDistrib" asp-action="_DistribDelete" asp-route-id="@Model.Uniqueassetiddistr" asp-route-d_id="@Model.Uniquedistributionid" onsubmit="return jQueryAjaxPostDeleteDistrib(this);" data-ajax="true" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <partial name="_ValidationScriptsPartial" />
        <input asp-for="Uniquedistributionid" type="hidden" />
        <input asp-for="Uniqueassetiddistr" type="hidden" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
</form>