@model PostCore.Models.CompositionCollection
@* //asp-items="ViewBag.UniqueAssetIdcont" (for dropdowns - goes in input) *@
<form id="createDistribForm" asp-controller="AMDistrib" asp-action="_DistribCreate" onsubmit="return jQueryAjaxPostCreateDistrib(this);" data-ajax="true" method="post">
    <div class="form-horizontal">
        <input type="hidden" asp-for="AM_D.Uniquedistributionid" />
        <input type="hidden" asp-for="AM_D.Uniqueassetiddistr" />

        <div class="form-group">
            <label asp-for="AM_D.Assetdistributionowner" class="control-label font-weight-bold"></label>
            <input asp-for="AM_D.Assetdistributionowner" class="form-control" placeholder="Distrib Number" />
            <span asp-validation-for="AM_D.Assetdistributionowner" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AM_D.Assetdistributionlocation" class="control-label font-weight-bold"></label>
            <input asp-for="AM_D.Assetdistributionlocation" class="form-control" placeholder="Distrib Description" />
            <span asp-validation-for="AM_D.Assetdistributionlocation" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="AM_D.Assetdistributionquantity" class="control-label font-weight-bold"></label>
            <input asp-for="AM_D.Assetdistributionquantity" class="form-control" placeholder="Distrib Version" />
            <span asp-validation-for="AM_D.Assetdistributionquantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AM_D.Assetdistributiondateassigned" class="control-label font-weight-bold"></label>
            <input type="text" asp-for="AM_D.Assetdistributiondateassigned" class="form-control datepicker" placeholder="Distrib Date Assigned" value="@null" />
            <span asp-validation-for="AM_D.Assetdistributiondateassigned" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
    </div>
</form>