@model PostCore.Models.Amdistrib
@* //asp-items="ViewBag.UniqueAssetIdcont" (for dropdowns - goes in input) *@
<form id="createDistribForm" asp-controller="AMDistrib" asp-action="_DistribCreate" onsubmit="return jQueryAjaxPostCreateDistrib(this);" data-ajax="true" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <partial name="_ValidationScriptsPartial" />
        <input type="hidden" asp-for="Uniquedistributionid" />
        <input type="hidden" asp-for="Uniqueassetiddistr" />

        <div class="form-group">
            <label asp-for="Assetdistributionowner" class="control-label font-weight-bold">Distribution Owner</label>
            <input asp-for="Assetdistributionowner" class="form-control" placeholder="Distribution Owner" />
            <span asp-validation-for="Assetdistributionowner" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Assetdistributionlocation" class="control-label font-weight-bold">Distribution Location</label>
            <input asp-for="Assetdistributionlocation" class="form-control" placeholder="Distribution Location" />
            <span asp-validation-for="Assetdistributionlocation" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Assetdistributionquantity" class="control-label font-weight-bold">Distribution Quantity</label>
            <input asp-for="Assetdistributionquantity" class="form-control" placeholder="Distribution Quantity" value="@null" />
            <span asp-validation-for="Assetdistributionquantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Assetdistributiondateassigned" class="control-label font-weight-bold">Distribution Date Assigned</label>
            <input type="text" asp-for="Assetdistributiondateassigned" class="form-control datepicker" type="date" placeholder="Distribution Date Assigned" value="@null" />
            <span asp-validation-for="Assetdistributiondateassigned" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success" style="margin-right:5px;min-width:80px;">Create</button>
            <button type="button" class="btn btn-secondary" style="margin-left:5px;min-width:80px;" data-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
    </div>
</form>