@model PostCore.Models.CompositionCollection
@using NonFactors.Mvc.Grid;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-center">PostCore - Distribution</h2>
<br />
@(Html
    .Grid(Model.IE_AM_D)
    .Build(columns =>
    {
        columns.Add(model => model.Uniqueassetiddistr).Titled("Url").Encoded(false)
        .RenderedAs(model =>
        {
            var url = Url.Action("AssetDetails", "AssetMgmt", new { id = model.Uniqueassetiddistr });
            return Html.Raw($"<a href=\"{url}\" class=\"btn btn-info btn-sm center\" style=\"font-size:20px;\">Details</a>");
        }).Filterable(false).Sortable(false).Css("col-sm-1");
        columns.Add(model => model.Assetdistributionowner).Titled("Owner").Encoded(false);
        columns.Add(model => model.Assetdistributionlocation).Titled("Location").Sortable(true);
        columns.Add(model => model.Assetdistributionquantity).Titled("Quantity").Sortable(true);
        columns.Add(model => model.Assetdistributiondateassigned).Titled("Date").Formatted("{0:d}");
    })
    .Empty("No data found.")
    .Filterable()
    .Id("am-ajax-grid")
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 25, "25" }, { 50, "50" }, { 75, "75" }, { 100, "100" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 10;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 25;
    })
)