@model PostCore.Models.Amcontent
@* //asp-items="ViewBag.UniqueAssetIdcont" (for dropdowns - goes in input) *@
<form id="updateContentForm" asp-controller="Amcontent" asp-action="_ContentUpdate" asp-route-id='@Model.Uniqueassetidcont' asp-route-c_id='@Model.Uniquecontentid' onsubmit="return jQueryAjaxPostUpdateContent(this);" data-ajax="true" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <partial name="_ValidationScriptsPartial" />
        <input type="hidden" asp-for="Uniquecontentid" />
        <input type="hidden" asp-for="Uniqueassetidcont" />

        <div class="form-group">
            <label asp-for="Assetcontentnumber" class="control-label font-weight-bold">Content Number</label>
            <input asp-for="Assetcontentnumber" class="form-control" placeholder="Content Number" />
            <span asp-validation-for="Assetcontentnumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Assetcontentdescription" class="control-label font-weight-bold">Content Description</label>
            <input asp-for="Assetcontentdescription" class="form-control" placeholder="Content Description" />
            <span asp-validation-for="Assetcontentdescription" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Assetcontentversion" class="control-label font-weight-bold">Content Version</label>
            <input asp-for="Assetcontentversion" class="form-control" placeholder="Content Version" />
            <span asp-validation-for="Assetcontentversion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Assetcontentdateassigned" class="control-label font-weight-bold">Content Date Assigned</label>
            <input type="text" asp-for="Assetcontentdateassigned" value="@Model.Assetcontentdateassigned.ToString("yyyy-MM-dd")" class="form-control datepicker" type="date" placeholder="Content Date Assigned" />
            <span asp-validation-for="Assetcontentdateassigned" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="margin-right:5px;min-width:80px;">Update</button>
            <button type="button" class="btn btn-secondary" style="margin-left:5px;min-width:80px;" data-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
    </div>
</form>