@model PostCore.Models.CompositionCollection
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-center">PostCore - Content</h2>
<br />

<table id="amcontent-index-table" class="display table" style="width:100%">
    <thead>
        <tr>
            <th class="col-sm-1">Url</th>
            <th>@Html.DisplayName("Number")</th>
            <th>@Html.DisplayName("Description")</th>
            <th>@Html.DisplayName("Version")</th>
            <th>@Html.DisplayName("Date")</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#amcontent-index-table').DataTable({
                "ajax": {
                    "url": "/AMContent/GetAllAMContentData",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": function (json) {
                        console.log(json);
                        return json.data.$values;
                    }
                },
                "columns": [
                    {
                        "data": "Uniqueassetidcont",
                        "render": function (data, type, row) {
                            var detailsUrl = "/AssetMgmt/AssetDetails/" + data;
                            return `<a href="${detailsUrl}" class="btn btn-info" style="min-width:80px;">Details</a>`;
                        }
                    },
                    { "data": "Assetcontentnumber" },
                    { "data": "Assetcontentdescription" },
                    { "data": "Assetcontentversion" },
                    {
                        "data": "Assetcontentdateassigned", "render": function (data, type, row) {
                            return moment(data).format('MM/DD/YYYY');
                        }
                    },
                ],
                columnDefs: [
                    { targets: 0, searchable: false, orderable: false },
                ],
                initComplete: () => { $(".table").show(); },
                responsive: true,
                scrollY: '500px',
                scrollCollapse: true,
                paging: true
            });
        });
    </script>
}