@model PostCore.Models.AssetMgmt
@{
    Layout = null;
}
<form id="updateAssetForm" asp-controller="AssetMgmt" asp-action="_AssetUpdate" asp-route-id="@Model.Uniqueassetid" data-ajax="true" onsubmit="return jQueryAjaxPostUpdateAsset(this);" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <partial name="_ValidationScriptsPartial" />
        <input asp-for="Uniqueassetid" type="hidden" />

        <!-- ROW 1 -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Assetid" class="control-label font-weight-bold">Asset ID</label>
                <div>
                    <input asp-for="Assetid" class="form-control" placeholder="Asset ID" />
                    <span asp-validation-for="Assetid" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Assettype" class="control-label font-weight-bold">Asset Type</label>
                <div>
                    <input asp-for="Assettype" class="form-control" placeholder="Asset Type" />
                    <span asp-validation-for="Assettype" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- ROW 2 -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Assetname" class="control-label font-weight-bold">Asset Name</label>
                <div>
                    <input asp-for="Assetname" class="form-control" placeholder="Asset Name" />
                    <span asp-validation-for="Assetname" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Assetmanufacturer" class="control-label font-weight-bold">Manufacturer</label>
                <div>
                    <input asp-for="Assetmanufacturer" class="form-control" placeholder="Manufacturer" />
                    <span asp-validation-for="Assetmanufacturer" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- ROW 3 -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Assetcategory" class="control-label font-weight-bold">Asset Category</label>
                <div>
                    <input asp-for="Assetcategory" class="form-control" placeholder="Asset Category" />
                    <span asp-validation-for="Assetcategory" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Assetworkordernumber" class="control-label font-weight-bold">Work Order</label>
                <div>
                    <input asp-for="Assetworkordernumber" class="form-control" placeholder="Work Order" />
                    <span asp-validation-for="Assetworkordernumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- ROW 4 -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Assetpurchaseordernumber" class="control-label font-weight-bold">Purchase Order</label>
                <div>
                    <input asp-for="Assetpurchaseordernumber" class="form-control" placeholder="Purchase Order" />
                    <span asp-validation-for="Assetpurchaseordernumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Assetdate" class="control-label font-weight-bold">Project Date</label>
                <div>
                    <input type="text" asp-for="Assetdate" value="@Model.Assetdate.ToString("yyyy-MM-dd")" class="form-control datepicker" placeholder="Project Date" type="date" />
                    <span asp-validation-for="Assetdate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- ROW 5 -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Assetprojectmanager" class="control-label font-weight-bold">Project Manager</label>
                <div>
                    <input asp-for="Assetprojectmanager" class="form-control" placeholder="Project Manager" />
                    <span asp-validation-for="Assetprojectmanager" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Assetequipmentamount" class="control-label font-weight-bold">Project Amount</label>
                <div>
                    <input asp-for="Assetequipmentamount" class="form-control" placeholder="Project Amount" />
                    <span asp-validation-for="Assetequipmentamount" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- ROW 6 -->
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Assetdescription" class="control-label font-weight-bold">Equipment Description</label>
                <div>
                    <textarea asp-for="Assetdescription" class="form-control" placeholder="Equipment Description" style="resize: both; overflow: auto; width: 100%; max-width:100%"></textarea>
                    <span asp-validation-for="Assetdescription" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="margin-right:5px;min-width:80px;">Update</button>
            <button type="button" class="btn btn-secondary" style="margin-left:5px;min-width:80px;" data-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
    </div>
</form>