@model PostCore.Models.CompositionCollection
@using PostCore.Models;
@using System.Text.Encodings.Web
@using NonFactors.Mvc.Grid;
@{
    ViewBag.Title = "Index";
}
<br />
<h2 class="text-center">PostCore - Asset Management</h2>
<br />

@{
    await Html.RenderPartialAsync("_IndexGrid", Model.IE_AM);
}
<br />


<div class="modal fade" id="createAssetModal" role="dialog" data-url="@Url.Action("_AssetCreate", "AssetMgmt")">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAssetModalLabel">Create New Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create-asset-modal-body-content">
                <div id="validationErrors" class="alert alert-danger" style="display:none;"></div> <!-- Validation Errors -->
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            var table = $('#assets-table').DataTable({
                "ajax": {
                    "url": "/AssetMgmt/GetAssetMgmtData",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": function (json) {
                        console.log(json);
                        return json.data || [];
                    }
                },
                "columns": [
                    {
                        "data": "uniqueassetid", "render": function (data, type, row, meta) {
                            var detailsUrl = `/AssetMgmt/AssetDetails/${data}`;
                            return `<a href="${detailsUrl}" class="btn btn-outline-secondary">Details</a>`;
                        }
                    },
                    { "data": "assetid" },
                    { "data": "assettype" },
                    { "data": "assetname" },
                    { "data": "assetcategory" },
                    { "data": "assetworkordernumber" },
                    { "data": "assetpurchaseordernumber" },
                    { "data": "assetdate" },
                    { "data": "assetprojectmanager" },
                    { "data": "assetequipmentamount" }
                ],
                layout: {
                    topStart: {
                        buttons: [
                            {
                                text: 'Create',
                                className: 'btn btn-outline-secondary',
                                action: function (e, dt, node, config) {
                                    $('#createAssetModal').modal('show'); // Use jQuery to show your modal
                                },
                                init: function (api, node, config) {
                                    $(node).removeClass('dt-button')
                                }
                            }
                            // You can add more buttons here
                        ]
                    },
                    top2Start: 'pageLength',
                },
                responsive: true,
                scrollY: '500px',
                scrollCollapse: true,
                paging: true,
            });
        });
    </script>
    <script>
        $(function () {
            $('#createAssetModal').on('show.bs.modal', function (e) {
                var url = $(this).data('url');
                var modalBody = $(this).find('.modal-body');
                // Load content asynchronously
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        modalBody.html(data);
                    },
                    error: function () {
                        modalBody.html('<div class="alert alert-danger">Failed to load content.</div>');
                    }
                });
            });
        });
    </script>
}