@model PostCore.Models.CompositionCollection
@using PostCore.Models;
@using System.Text.Encodings.Web
@using NonFactors.Mvc.Grid;
@{
    ViewBag.Title = "Index";
}
<br />
<h2 class="text-center">PostCore - Asset Management</h2>
<br />
@* <form>
    <div class="input-group">
        <input type="text" class="form-control" id="GridSearch" autofocus="autofocus" placeholder="Search for Record" aria-label="Search for Record" autocomplete="off" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="Clear" value="Reset" onclick="window.location.reload();">Reset</button>
            <button id="createAsset" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#createAssetModal">Create</button>
        </div>
    </div>
</form> *@
@* <button id="createAsset" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#createAssetModal">Create</button> *@

<br/>

@* @Html.AjaxGrid(@Url.Action("IndexGrid") ?? "", new { id = "am-ajax-grid" }) *@
@{
    await Html.RenderPartialAsync("_IndexGrid", Model.IE_AM);
}
<br />


<div class="modal fade" id="createAssetModal" role="dialog" data-url="@Url.Action("_AssetCreate", "AssetMgmt")">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAssetModalLabel">Create New Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create-asset-modal-body-content">
                <div id="validationErrors" class="alert alert-danger" style="display:none;"></div> <!-- Validation Errors -->
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#assets-table').DataTable({
                layout: {
                    topStart: {
                        buttons: [
                            {
                                text: 'Create',
                                className: 'btn btn-outline-secondary input-group-append',
                                action: function (e, dt, node, config) {
                                    $('#createAssetModal').modal('show'); // Use jQuery to show your modal
                                }
                            }
                            // You can add more buttons here
                        ]
                    }
                },
                scrollY: '500px',
                scrollCollapse: true,
                paging: true
            });
        });

    </script>
    @* @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } *@
    @* <script>
        document.getElementById("GridSearch").addEventListener("input", function () {
            const grid = new MvcGrid(document.querySelector(".mvc-grid"));
            grid.url.searchParams.set("search", this.value);
            grid.reload();
        });
    </script> *@
    <script>
        $(function () {
            $('#createAssetModal').on('show.bs.modal', function (e) {
                var url = $(this).data('url');
                var modalBody = $(this).find('.modal-body');
                // Load content asynchronously
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        modalBody.html(data);
                    },
                    error: function () {
                        modalBody.html('<div class="alert alert-danger">Failed to load content.</div>');
                    }
                });
            });
        });
    </script>
}